/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

/* Header */
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

a {
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}